.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 80%;
    }
}