nav {
    position: relative;
    align-items: center;
    background-color: #f2f2f2;
    padding: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav a:hover {
    color: #4caf50;
}

.nav-active {
    color: #4caf50;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 20px 0;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f2f2f2;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    nav ul.active {
        display: flex;
    }
}